/*

.filters {
    margin-top: 100px;
}

.catg {
    display: flex;
}

.namePrice {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 95%;
}

.products .product {
    width: 29%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: 0px 12px 28px -14px rgba(155, 155, 155, 0.75);
    -webkit-box-shadow: 0px 12px 28px -14px rgba(155, 155, 155, 0.75);
    -moz-box-shadow: 0px 12px 28px -14px rgba(155, 155, 155, 0.75);
    border-radius: 10px;
}

.product p {
    padding: 10px;
    width: 95%;
}

.prod {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.viewAddBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.viewAddBtn  button {
    padding: 10px;
    margin-top: 10px;
}

.viewAddBtn .vP {
    border: 3px solid #2A9D74;
    background-color: white;
}

.viewAddBtn .AC {
    border: none;
    background-color: #FDD261;
}

*/

/* Main container */
.productContainer {
    display: flex;
}

/* Filters section */
.filters {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.catg {
    margin-bottom: 20px;
}

#users {
    margin-left: 20px;
}

/* Products section */
.products {
    width: 100%;
    box-sizing:content-box;
    box-shadow: 0px 12px 28px -14px rgba(155, 155, 155, 0.75);
    -webkit-box-shadow: 0px 12px 28px -14px rgba(155, 155, 155, 0.75);
    -moz-box-shadow: 0px 12px 28px -14px rgba(155, 155, 155, 0.75);
    border-radius: 10px;
}

#pN {
    font-size: 1.5rem;
}

/* Individual product */
.product {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 8px;
    box-shadow: 0px 12px 28px -14px rgba(155, 155, 155, 0.75);
    -webkit-box-shadow: 0px 12px 28px -14px rgba(155, 155, 155, 0.75);
    -moz-box-shadow: 0px 12px 28px -14px rgba(155, 155, 155, 0.75);
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: 360px;
    object-fit: fill;
}

.namePrice {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 95%;
}

/* View and Add buttons */
.viewAddBtn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
}

.viewAddBtn a {
    text-decoration: none;
}

.viewAddBtn button {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    box-sizing: border-box;
    width: auto; /* or set a specific width */
}

.viewAddBtn .vP {
    background-color: white;
    color: black;
}

.viewAddBtn .AC {
    background-color: #FDD261;
    color: black;
}
